body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
	
}

.body-container

{
width: 1200px;	
margin: 0 auto;
box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.35);	
}

.visually-hidden
{
	display: none;
}

a {
  text-decoration: none;
}


.main-header-links {
	width: 1200px;
	height: 55px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.main-header-links-1 
{
	width: 531px;
	height: 55px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.main-header-links-2 
{
	width: 531px;
	height: 55px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.main-nav {
	font-weight: bold;

}


.main-nav a {
	color: black;
	
}

.main-nav a:hover,
.main-nav a:focus
{
	color: #81b3d2;
}

.main-nav a:visited
{
	list-style: none;
}

.main-header-logo
{
	width: 138px;
	margin: 0 auto;
	vertical-align: top;
	z-index: 1;
	position: absolute;
	
	
}

.container
{
	width: 1200px;
}

.intro

{
	
	z-index: -1;
}

.reasons-top,
.features,
.reasons-bottom
{
	margin: 0px;
	padding: 0px;
}

.reasons-top,
.reasons-bottom,
.features,
.social-buttons ul

{
	list-style: none;
}

.reasons,
.features

{
	text-align: center;
}

.intro
{
	background-color: #ffffff;
}

.intro-big 
{
	font-size: 21px;
	font-weight: bold;
}

.intro-small
{
	color: #333333;
}

.reasons-top 
{
	background-color: #81b3d2;
	color: white;
}

.reasons-header 
{
	font-size: 21px;
	color: white;
	font-weight: bold;
}

.reason-1
{
	display: flex;
	
	width: 1200px;
	height: 256px;
}
.reason-1-1
{
	display: flex;
	flex-direction: column;
	width: 400px;
	padding: 50px;
}

.features
{
	width: 1200px;
	height: 330px;
	padding-top: 60px;
	background-color: #ffffff;
	display: flex;
	justify-content: space-around;

}

.features li
{
	width: 280px;
}

.reasons-bottom 
{
	background-color: #eeeeee;
	color: #333333;
}

.reasons-header-bottom

{
	font-size: 21px;
	color: black;
	font-weight: bold;
}

.features h3 
{
	font-size: 21px;
	color: black;
	font-weight: bold;
}

.features a {
	color: black;
}


.features a:hover,
.features a:focus
{
	color: #81b3d2;
}

.features a:visited
{
	color: black;
}

.features p
{
	color: #333333;
}

.reason-2
{
	display: flex;
	flex-direction: row-reverse;
	width: 1200px;
	height: 256px;
}

.reason-2-2
{
	display: flex;
	flex-direction: column;
	width: 400px;
	padding: 50px;
}

.reasons-bottom
{
	display: flex;
	width: 1200px;
	height: 256px;
	padding-top: 50px;
	justify-content: space-around;
}

.reasons-bottom li
{
	width: 280px;
}

.interest
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.interest p
{
	width: 450px;
	text-align: center;
	padding-bottom: 35px;
}

.interestheader
{
font-size: 30px;	
}

.map-section p

{
	color: #333333;
}

.map-section button
{
	box-sizing: border-box;
	width: 568px;
  font: inherit;
	font-size: 21px;
	font-weight: bold;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;	
  padding-top: 30px;	
  padding-bottom: 30px;
  padding-left: 135px;
  padding-right: 135px;
	
}

.interactive-map
{
	width: 1200px;
	height: 593px;
	background: url(../img/map.jpg) no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	vertical-align: top;
}

.hotel-search
{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width:  568px;
	height: 400px;
	background-color: white;
	padding: 55px 50px 60px 50px; 
}

.button-find
{
	box-sizing: border-box;
	width: 460px;
	height: 60px;
  font: inherit;
	font-size: 21px;
	font-weight: bold;
 
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
	text-align: center;	
  background-color: #81b3d2;
  border: none;	
	padding-top: 15px;
	margin-top: 10px;
}

.main-footer
{
	width: 1200px;
	height: 120px;
	display: flex;
	justify-content: space-around;
	
	
	
}

.social-buttons
{
	display: flex;
	width: 150px;
	height: 50px;
	
}

.social-button
{
	text-align: center;
	background-color: #81b3d2;
	vertical-align: middle;
}

.twitter
{
	padding-top: 16px;
	padding-bottom: 15px;
	padding-left: 15px; 
	padding-right: 15px;
	margin: 3px;
}

.facebook
{
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 18px; 
	padding-right: 17px;
	margin: 3px;
}

.youtube
{
	padding: 16px 13px 16px 13px;
	margin: 3px;
}

.footer-copyright
{
	width: 120px;
	height: 45px;
	background-color: white;
}





/*страница поиска отелей*/


.hotel-search-form
{
	box-sizing: border-box;
	width: 1200px;
	height: 215px;
	background-image: url(../img/Hotels-background.jpg);
	background-repeat:	no-repeat;
	position: relative;
	top: -15px;
	display: flex;
	justify-content: space-around;
	color: white;
}

.infrastructure
{
	display: flex;
	flex-direction: column;
	width: 240px;
}

.housing-type
{
	display: flex;
	flex-direction: column;
	width: 240px;
	position: relative;
	right: 60px;
}

.cost-per-day
{
	display: flex;
	flex-direction: column;
	width: 330px;
	position: relative;
	
}

.slider-text
{
	display: flex;
}

.slider-text input
{
	width: 140px;
}

.slider
{
	
}

.button-show
{
	font: inherit;	
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: rgba(255,255,255,0);
	border: 2px solid white;
	border-radius: 2px;
	width: 140px;
	height: 35px;
	position: relative;
	left: 80px;
}

.button-show:hover,
.button-show:focus
{
	background-color: white;
	color: black;
}

.search-sort 
{
height: 86px;
padding-left: 6%;	
	
}

.found
{
	font-size: 21px;
	font-weight: bold;
}


.search-results
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.search-results li
{
	margin-left: 6%;
}

.search-result-1,
.search-result-2,
.search-result-3
{
	display: flex;
}

.result-1-1,
.result-2-1,
.result-3-1
{
	display: flex;
	flex-direction: column;
	width: 260px;
	margin-left: 30px;
}

.raiting
{
  padding-left: 525px;
}

.sort
{
	font-size: 12px;
	padding-left: 40px;
}

.sort-type a
{
	font-size: 12px;
	color: #cacaca;
	border-bottom: 1px dotted #81b3d2;
}

.sort-type a:visited
{
	color: #cacaca;
}

.sort-type a:hover,
.sort-type a:focus
{
	color: #81b3d2;
}

.sort-type a:active
{
	color: black;
}

.search-result-1 img,
.search-result-2 img
{
	margin-bottom: 60px;
}

.search-results-name
{
	color: black;
	font-weight: bold;
}

.search-results-name:visited
{
	list-style: none;
}

.search-results-name:hover,
.search-results-name:focus
{
	color: #81b3d2;
}

.search-results-name:active
{
	color: #cacaca;
	
}

.buttons
{
	margin-top: 15px;
}


.details
{
	  font: inherit;
	font-size: 14px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;	
  box-sizing: border-box;
	width: 110px;
	height: 27px;
	
  outline: none;	
  
}

.book

{

	  font: inherit;	
	font-size: 14px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;	
box-sizing: border-box;
	width: 142px;
	height: 27px;
	outline: none;
}

.details:hover,
.details:focus
{
	background-color: #669ec0;
}

.details:active
{
	background-color: #5496bd;
	color: #94b9d2;
}

.book:hover,
.book:focus
{
	background-color: #604e43;
}

.book:active
{
	background-color: #503e33;
	color: #8b827c;
}