body {
	font: 12px;
	line-height: 1.5;
	color: black;
	font-style: normal;
	font-family: sans-serif;
}

.reasons-header  {
	font: 16px;
	line-height: 2;
	color: brown;
	font-weight: bold;
	font-family: "PT Sans", "Arial", serif;
}

 .interest {
	
    font: 20px;
	line-height: 2;
	color: red;
	font-weight: bold;
	font-family: "PT Sans", "Arial", serif;
}